.comment {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 0 20px 30px;

  &__header {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  };

  &__button {
    position: relative;
    bottom: 20px;
    left: 40px;
    background-color: #FCDCE2;
    border: 1px solid gray;
    border-radius: 50px;
  }

  &__username {
    position: relative;
    bottom: 20px;
    right: 40px;
    background-color: #FCDCE2;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 8px;
  }
}